{% extends "demo/projectdefault.html" %}
{% load staticfiles %}


{% block body_header %}
<h3 class="panel-title">Croomer Ecosystem</h3>
{% endblock body_header %}

{% block body %}
    
	<!--div class="list-group">
	  <a href="{% url "investors" project_name %}" class="list-group-item list-group-item-default">Investors</a>
	  <a href="{% url "services" project_name %}" class="list-group-item list-group-item-default">Business Services</a>
	  <a href="{% url "resource_center" project_name %}" class="list-group-item list-group-item-default">Resource Center</a>
	  <a href="{% url "ecosystem_projects" project_name %}" class="list-group-item list-group-item-default">Projects</a>
	  <a href="{% url "ecosystem_experts" project_name %}" class="list-group-item list-group-item-default">Experts</a>
	</div-->
	
	<h3>Under construction, stay tuned.</h3>
	  

{% endblock body %}

