{% extends "demo/projectdefault.html" %}
{% load staticfiles %}
{% block header %}
<ol class="breadcrumb">
   <li><a href="{% url "dashboard" %}">Home</a></li>
   <li><a href="{% url "startups" %}">Startups</a></li>
   <li><a href="{% url "project" project_name %}">Croomer</a></li>
   <li><a href="{% url "ecosystem" project_name %}">Ecosystem</a></li>
   <li class="active">Experts</li>
</ol>
{% endblock header %}
{% block body_header %}
<h3 class="panel-title">Experts</h3>
{% endblock body_header %}
{% block body %}
<div class="feed">
   <div class="row">
      <div class="col-md-3 col-md-offset-1">
         <div class="panel panel-default">
            <div class="panel-heading">
               <p>Mathieu Jobin</p>
            </div>
            <div class="panel-body">
               <img class="img-responsive" src="{% static "demo/images/unknown.jpg" %}" alt="My image"/>
               <hr>
               <p>The best.</p>
               <button class="btn btn-info">Contact info</button>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading">
               <p>Alain Tambay</p>
            </div>
            <div class="panel-body">
               <img class="img-responsive" src="{% static "demo/images/unknown.jpg" %}" alt="My image"/>
               <hr>
               <p>The worst</p>
               <button class="btn btn-info">Contact info</button>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock body %}