{% extends "demo/projectdefault.html" %}
{% load staticfiles %}

{% block body_header %}
<h3 class="panel-title">Minimal Viable Product</h3>
{% endblock body_header %}

{% block body %}
			<div class="col-md-12">
			<form role="form" "action="/" method="post">		
			{% csrf_token %}
							<h3>Video:</h3>
							<div class="form-group">
							{{ video_form.as_p }}
							</div>
							
							<h3>Image:</h3>
							<div class="form-group">
								<input type="file" id="projections">
							</div>

							<div class="text-center">
							    <input class="btn btn-primary" type="submit" style="width:120px;" value="Update" />
								<a class="btn btn-danger" style="width:120px; href="{% url "project" project_name %}">Cancel</i></a>
							</div>
				</form>
    		</div>
    	</div>
    </div> <!-- /container -->


{% endblock body %}

