{% extends "demo/loggedindefault.html" %}
{% load staticfiles %}

{% block head %}
<style>
body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #eee;
}
.topMargin {
  margin-top: 5px;
}

</style>
{% endblock head %}

{% block header %}
	<ol class="breadcrumb">
		<li class="active">Profile</li>
	</ol>
{% endblock header %}
	  
	  {% block body_header %}
   <h3 class="panel-title">Profile</h3>						
{% endblock body_header %}


{% block body %}
  
<div class="row">
        <div class="col-xs-12 col-sm-2 topMargin">
		    <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" class="" style="width:100px;">
        </div>
        
        <div class="col-xs-12 col-sm-8" >
            <h3 class="topMargin">{{ user.first_name }} {{ user.last_name }}</h3>
            <h6>Email: {{ user.email }}</h6>
            <h6>Birthday: {{ profile.birthday|date:"M d, Y" }}</h6>
            <h6>City: {{ profile.city }}</h6>
            <h6>Province: {{ profile.province }}</h6>
            <h6>Country: {{ profile.country }}</h6>
            <h6>School: {{ profile.school }}</h6>
            <h6>Faculty: {{ profile.faculty }}</h6>
            <h6>Program: {{ profile.program }}</h6>
            <h6>Year of Study: {{ profile.yearofstudy }}</h6>
            <h6>Skills: {{ profile.skills }}</h6>
			<h6>Interests: {{ profile.interests }}</h6>
        </div>
        
        <div class="col-xs-12 col-sm-2 ">
        <div class="btn-group">
  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <i class="fa fa-cog"></i> <span class="caret"></span>
  			</button>
  			<ul class="dropdown-menu" role="menu">
   				 <li><a href="{% url "profile_edit" %}">Edit Profile</a></li>
    			 <li><a href="{% url "account_change_password" %}">Change Password</a></li>
    			 <li><a href="{% url "account_email" %}">Manage E-mail Addresses</a></li>
 			</ul>
		</div>
        </div>
</div>



{% endblock body %}

