{% extends "account/base.html" %}
{% load url from future %}
{% load i18n %}

{% block head %}
<style>
   .footer{
   padding-top:5px;
   }
</style>
{% endblock head %}

{% block content %}
<div class="row centered-form">
   <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h2>{% trans "Change Password" %}</h2>
         </div>
         <div class="panel-body">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
               {% csrf_token %}
               {{ form.non_field_errors }}   
                  {{ form.oldpassword.errors }}
                  <p>       
                     <label for="id_oldpassword">Current Password</label> 
                     <input class="form-control" id="id_oldpassword" name="oldpassword" placeholder="Current Password" type="password">
                  </p>
                  
                  {{ form.password1.errors }}
                  <p>       
                     <label for="id_password1">New Password</label> 
                     <input class="form-control" id="id_email" name="password1" placeholder="New Password" type="password">
                  </p>
                  
                  {{ form.password2.errors }}
                  <p>       
                     <label for="id_password2">Confirm New Password</label> 
                     <input class="form-control" id="id_password2" name="password2" placeholder="Confirm New Password" type="password">
                  </p>
<div class="footer text-center">
               <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock content %}